<!DOCTYPE html>
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(name="description" content="Is rapture today? Find out.")
    %meta(name="keywords" content="rapture,jesus,apocalypse,prophecies,bible")
    %meta(name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0")
    %title="Is Rapture Today?"
    <!--[if ! lte IE 6]><!-->
    %link(href="/stylesheet.css" media="screen" rel="stylesheet")
    <!--<![endif]-->
    /[if lte IE 6]
      %link(rel="stylesheet" href="http://universal-ie6-css.googlecode.com/files/ie6.1.1.css" media="screen, projection")
    /[if lt IE 9]
      %script(src="//html5shim.googlecode.com/svn/trunk/html5.js")
    = haml :analytics, :layout => false
  %body
    #container(dir="ltr")
      = haml :header, :layout => false
      = haml :ads, :layout => false